<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <script type="text/javascript" src="//use.typekit.net/kct3lkv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" href="/css/style.css"/>
	</head>
<body>

<header>
    
</header>
<main>
    {{{ body }}}
</main>
<footer>
    
</footer>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>