<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <script type="text/javascript" src="//use.typekit.net/kct3lkv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="stylesheet" href="/css/style.css"/>
        <link type="text/css" rel="stylesheet" media="only screen and (max-width: 800px)" href="/css/mob.css" />
	</head>
<body>

<header>
    <div class="wrap">
        <h1 class="logo"><a href="/">Ubiq</a></h1>
    </div>
</header>
<main>
    <div class="wrap">
        {{{ body }}}
    </div>
</main>
<footer>
    <p>Made by <a href="http://benhowdle.im">Ben Howdle</a></p>
</footer>
<script type="text/javascript" src="/js/script.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49265418-1', 'ubiq.im');
  ga('send', 'pageview');

</script>
</body>
</html>