<h2 class="text-centered">{{document.friendly_name}}</h2>
<div class="selection show">
	{{#if document.spotify}}
		<a href="{{document.spotifyHTTP}}"><img data-service="spotify" src="/img/spotify.png" /></a>
		<p class="muted">Prefer to open in-app? <a href="{{document.spotify}}">{{document.spotify}}</a></p>
	{{else}}
		<img data-service="spotify" src="/img/spotify.png" class="ghost" />
	{{/if}}
	
	{{#if document.rdio}}
		<a href="{{document.rdio}}"><img data-service="rdio" src="/img/rdio.png" /></a>
	{{else}}
		<img data-service="rdio" src="/img/rdio.png" class="ghost" />
	{{/if}}
</div>

<div class="share">
	<p class="text-centered">Share this page so people can listen to <b>{{document.friendly_name}}</b> on their preferred music service of choice.</p>
</div>